<footer class="footer" id="contact">
    <div class="container">
        <div class="row pt-3">
            <div class="col-lg-3  text-justify">
                <h2>Digital Learn</h2>
                <p>
                    Digital Learning is "learning facilitated by technology that gives students some element of control over
                    time, place, path and/or pace."
                </p>
            </div>
            <div class="col-lg-3  text-justify">
                <h2> Links</h2>
                <a href="#home" ><i class="fas fa-home"></i> &nbsp;Home</a><br>
                <a href="#about"><i class="fas fa-address-card"></i>&nbsp; About</a><br>
                <a href="#contact"><i class="fas fa-address-book"></i>&nbsp; Contact us</a>
            </div>
            <div class="col-lg-3  text-justify">
                <h2>Phone & Email</h2>
                <p>
                    <i class="fas fa-phone-alt text-success"></i>&nbsp; <span> +91 9876543210</span>
                </p>
                <p>
                    <i class="fas fa-phone-alt text-success"></i>&nbsp; <span>+91 9876543210</span>
                </p>
                <p>
                    <i class="fas fa-envelope"></i>&nbsp;<span> bcplearning@gmail.com</span>
                </p>
                <p>
                    <i class="fas fa-envelope"></i>&nbsp;<span> learning@bcp.in</span>
                </p>
                
            </div>
            <div class="col-lg-3  text-justify">
                <h2>Contact Address</h2>
                <p>
                    <i class="fas fa-map-marked"></i>&nbsp;<span>BCP Digital Library,<br>
                        Bangalore.</span>
                </p>
                    
            </div>
        </div>
    </div>
</footer>