<div class="container" >
    <div class="row">
        <div class="col-12 text-justify">
            <div class="card">
                <div class=" container mx-auto">
                    <h1 class="text-center" id="about"><b>ABOUT</b></h1>
                    <h2><b>About BCP Library</b></h2>
                    <p>
                        BCP Library is a monthly book review publication distributed to 400,000 avid readers through
                        subscribing bookstores and public libraries. Founded in 1988 and located in Nashville,
                        Tennessee, BCP Library serves as a broad-based selection guide to the best new books published
                        every month. All of the content from the print edition is posted on BCP Library.com each month.
                    </p>
                    <p>
                        All material on BCP Library.com is copyright © 1996-2022 by BCP Library and ProMotion, Inc
                    </p>
                    <h2><b>Our Mission</b></h2>
                    <p>
                        Our goal is to connect every book lover with their next great read. BCP Library covers all types
                        of books—from literary fiction, history and biography to popular genres like romance and
                        mystery—and our book reviews, author interviews and special features are informative and
                        accessible.
                    </p>
                    <h2><b>Our Editorial Policy</b></h2>
                    <p>
                        BCP Library is a recommendation guide for new books. Our editors evaluate and select for review
                        the best books in a variety of categories. BCP Library is editorially independent; only books we
                        highly recommend are featured. Any publisher-sponsored content is clearly labeled as such.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>